<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{title.page.login}"></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-responsive.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/matrix-login.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/font-awesome/css/font-awesome.css}" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800" />
</head>
<body th:dir="#{template.direction}">
	<div id="loginbox">
		<div class="alert alert-error" th:if="${param.error}">
			<button class="close" data-dismiss="alert">×</button>
			<strong th:text="#{template.message.login.error.label}"></strong> <label
				th:text="#{template.message.login.error.text}"></label>
		</div>
		<div class="alert alert-success" th:if="${param.logout}">
			<button class="close" data-dismiss="alert">×</button>
			<strong th:text="#{template.message.login.success.label}"></strong> <label
				th:text="#{template.message.login.success.text}"></label>
		</div>
		<div class="alert alert-info" th:if="${forgot} == true">
			<button class="close" data-dismiss="alert">×</button>
			<strong th:text="#{template.message.login.info.label}"></strong> <label
				th:text="#{template.message.login.info.text}"></label>
		</div>
		<div class="alert alert-error" th:if="${forgot} == false">
			<button class="close" data-dismiss="alert">×</button>
			<strong th:text="#{template.message.login.error.notfound.label}"></strong>
			<label th:text="#{template.message.login.error.notfound.text}"></label>
		</div>
		<form id="loginform" class="form-vertical" th:action="@{/login}"
			method="POST" enctype="multipart/form-data;charset=UTF-8">
			<div class="control-group normal_text">
				<a th:href="@{/login?lang=fr}"><img alt="FR"
					th:src="@{/img/demo/fr.png}" height="40" width="40" /> </a> <a
					th:href="@{/login?lang=en}"><img alt="EN"
					th:src="@{/img/demo/en.png}" height="40" width="40" /> </a> <a
					th:href="@{/login?lang=ar}"><img alt="AR"
					th:src="@{/img/demo/ar.png}" height="40" width="40" /> </a>
			</div>
			<div class="control-group normal_text">
				<h3>
					<img th:src="@{/img/logo_adhesium.png}" alt="Logo" />
				</h3>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on bg_lg"><i class="icon-user"> </i></span><input
							type="text" name="username"
							th:placeholder="#{template.username.text}" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="main_input_box">
						<span class="add-on bg_ly"><i class="icon-lock"></i></span><input
							type="password" name="password"
							th:placeholder="#{template.password.text}" />
					</div>
				</div>
			</div>
			<div class="form-actions">
				<span th:class="#{template.button.oubliee}"> <a href="#"
					class="flip-link btn btn-info" id="to-recover"><span
						th:text="#{template.button.oubliee.text}"></span></a>
				</span> <span th:class="#{template.button.connect}">
					<button class="btn btn-success" type="submit">
						<span th:text="#{template.button.connect.text}"></span>
					</button>
				</span>
			</div>
		</form>
		<form id="recoverform" th:action="@{/forgot}" method="POST"
			class="form-vertical">
			<p class="normal_text">Entrez votre adresse e-mail ci-dessous et
				nous allons vous envoyer une instructions sur la façon de récupérer
				votre mot de passe.</p>

			<div class="controls">
				<div class="main_input_box">
					<span class="add-on bg_lo"><i class="icon-envelope"></i></span><input
						type="text" placeholder="Entrez votre adresse e-mail" name="email" />
				</div>
			</div>

			<div class="form-actions">
				<span class="pull-left"><a href="#"
					class="flip-link btn btn-success" id="to-login">&laquo; Retour
						login</a></span> <span class="pull-right">
					<button class="btn btn-info" type="submit">Récupérer</button>
				</span>
			</div>
		</form>
	</div>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/matrix.login.js}"></script>
	<script th:src="@{/js/jquery.ui.custom.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>
