<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<!--open-Header-part-->
	<div id="header">
		<h1>
			<a href="#" th:text="#{company}" th:title="#{company}"></a>
		</h1>
	</div>
	<!--close-Header-part-->
	<!--top-Header-menu-->
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class="dropdown" id="profile-messages"><a href="#"
				data-toggle="dropdown" data-target="#profile-messages"
				class="dropdown-toggle"><i class="icon icon-user"></i> <span
					class="text"
					th:text="#{template.message.bienvennu} +' '+ ${#httpServletRequest.remoteUser} "></span>
					<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="icon-user"></i> <span
							th:text="#{template.top.header.menu.profil}"></span></a></li>
				</ul></li>
			<li class=""><a
				th:title="#{template.top.header.menu.configuration}" href="#"><i
					class="icon icon-cog"></i> <span class="text"
					th:text="#{template.top.header.menu.configuration}"></span></a></li>
			<li class=""><a
				th:title="#{template.top.header.menu.deconnecter}"
				th:href="@{/login?logout}"><i class="icon icon-share-alt"></i> <span
					class="text" th:text="#{template.top.header.menu.deconnecter}"></span></a></li>
		</ul>
	</div>
	<!--close-top-Header-menu-->
	<!--start-top-serch-->
	<div id="search">
		<!--open-top-lang-menu-->
		<a th:title="#{fr}" th:href="@{/?lang=fr}"><img th:alt="#{fr}"
			th:src="@{/img/demo/fr.png}" height="30" width="30" /></a> <a
			th:title="#{en}" th:href="@{/?lang=en}"><img th:alt="#{en}"
			th:src="@{/img/demo/en.png}" height="30" width="30" /></a> <a
			th:title="#{ar}" th:href="@{/?lang=ar}"><img th:alt="#{ar}"
			th:src="@{/img/demo/ar.png}" height="30" width="30" /></a>
		<!--close-top-lang-menu-->
	</div>
	<!--close-top-serch-->
</body>
</html>
